[Unit]
Description=Polls observatory systems and updates the cached dashboard json files
Wants=update-dashboard-data.timer

[Service]
ExecStart=/usr/bin/update-dashboard-data
Restart=always
RestartSec=30
